#!/usr/bin/make -f

export PYBUILD_NAME=pyfai

%:
	dh $@ --with python2,python3,sphinxdoc --buildsystem=pybuild

override_dh_clean:
	dh_clean
	rm -f $(patsubst %.pyx,%.c,$(wildcard pyFAI/ext/*.pyx))
	rm -rf build/html
	rm -rf *.egg-info

override_dh_auto_build:
	dh_auto_build
	PYBUILD_SYSTEM=custom \
	PYBUILD_BUILD_ARGS="PYTHONPATH={build_dir} http_proxy='localhost' sphinx-build -N -bhtml doc/source build/html" dh_auto_build

# unactive test for now
override_dh_auto_test:
	PYBUILD_SYSTEM=custom \
	PYBUILD_TEST_ARGS="PYTHONPATH={build_dir} PYFAI_TESTIMAGES=testimages PYFAI_DATA=$(shell pwd) {interpreter} ./run_tests.py" dh_auto_test

override_dh_install:
	dh_numpy
	dh_numpy3

	# move the scripts to right package
	dh_install -p pyfai debian/python-pyfai/usr/bin usr/
	# remove all scripts installed by pybuild
	rm -rf debian/python-pyfai/usr/bin
	rm -rf debian/python-pyfai-dbg/usr/bin
	rm -rf debian/python3-pyfai/usr/bin
	rm -rf debian/python3-pyfai-dbg/usr/bin

	# remove all py/pyc/egg-info files from dbg packages
	find debian/python-pyfai-dbg/usr -type f \( -not -name "*.so" \) -delete
	find debian/python3-pyfai-dbg/usr -type f \( -not -name "*.so" \) -delete

	#Finally install stuff
	dh_install

override_dh_installman:
	dh_installman -p pyfai doc/*.1

override_dh_installdocs:
	dh_installdocs "build/html" -p python-pyfai-doc
	dh_installdocs
