*.py[co]

# Downloaded
/testimages

# Generated
/profile.log

# Packages
/*.egg
/*.egg-info
/dist
/build
/eggs
/develop-eggs
/.installed.cfg

# Installer logs
/pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

#Shared libraries
*.so

# gvim crap
*~
*.swp
.*

# Notebook
.ipynb_checkpoints


#discard generated C-files
/pyFAI/ext/*.c
