graft doc
recursive-include openCL *.cl *.h
recursive-include pyFAI/ext  *.c *.h *.pyx *.pxd *.pxi
recursive-include benchmark *.py *.spline *.poni
recursive-include pyFAI *.py
recursive-exclude pyFAI *.pyc
recursive-include pyFAI/test *.py *.json
recursive-exclude pyFAI/test *.pyc
recursive-include gui *.ui
recursive-include calibration *.D
recursive-include dll *.dll
include stdeb.cfg
include setup.cfg
include MANIFEST.in
include build-deb7.sh
include build-deb8.sh
include build-msi.bat
include run_tests.py
include bootstrap.py
include README.rst
include CHANGELOG.txt
include TODO.txt
include copyright
recursive-include scripts *.py 
recursive-include package/debian *