# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
global-exclude *.h5
global-exclude *.npz
recursive-include package/debian? *
recursive-include pyFAI/ext  *.cpp *.c *.h *.pyx *.pxd *.pxi
recursive-include pyFAI *.py
recursive-exclude pyFAI *.pyc
recursive-include pyFAI/resources/openCL *.cl *.h
recursive-include pyFAI/resources/gui *.ui *.png *.svg
recursive-include pyFAI/resources/calibration *.D
recursive-include dll *.dll
recursive-exclude benchmark *
recursive-exclude test *
recursive-exclude pyFAI.egg-info *
exclude pyFAI.egg-info
recursive-exclude build *
recursive-exclude dist *
include version.py
include stdeb.cfg
include setup.cfg
exclude MANIFEST
include MANIFEST.in
include build-deb.sh
include run_tests.py
include bootstrap.py
include README.rst
include CHANGELOG.txt
include TODO.txt
include copyright
include requirements.txt
include pyproject.toml

#Include doc without checkpoints or downloaded files
recursive-include doc *
recursive-exclude doc .ipynb_checkpoints/*.ipynb
recursive-exclude doc *.h5
recursive-exclude doc *.npz
recursive-exclude doc *.npy
recursive-exclude doc *.edf
recursive-exclude doc *.edf

