#List of dependencies used by pyFAI.
# PIP installs them from pre-compiled wheels, optimized for Travis-CI Python environment.   
--find-links http://www.edna-site.org/pub/wheelhouse

numpy
cython
pillow
lxml
h5py
fabio
scipy
matplotlib
mako
pyopencl
