wheel
meson-python
ninja
numpy >= 1.10
cython >=0.29.31
fabio
scipy
matplotlib
numexpr != 2.8.6
h5py
silx >= 2
PyOpenGL
PySide6; python_version < '3.14'
pyqt6; python_version >= '3.14'
hdf5plugin
nbsphinx
pydata-sphinx-theme
importlib_resources; python_version < '3.9'
sphinxcontrib.programoutput
