#List of dependencies used by pyFAI.
# PIP installs them from pre-compiled wheels, optimized for AppVeyor-CI Python environment.   
--find-links http://www.edna-site.org/pub/wheelhouse

wheel
numpy
Cython
lxml
Pillow
h5py
fabio
scipy
matplotlib
mako
pyopencl
