[DEFAULT]
Package: pyfai
Depends: python-numpy, python-scipy, python-matplotlib, python-fabio, python-h5py
XS-Python-Version: >= 2.6
Maintainer: Jerome Kieffer <jerome.kieffer@esrf.fr>
Build-Depends: python-dev
#, cython (>=0.17)
#Recommends: python-numpy-ext

