#List of dependencies used by pyFAI.
# PIP installs them from pre-compiled wheels, optimized for AppVeyor-CI Python environment.
--find-links http://www.silx.org/pub/wheelhouse

wheel
numpy >= 1.10
#cython
Pillow
h5py
fabio
scipy
matplotlib
numexpr != 2.8.6
silx >= 2
psutil
importlib_resources; python_version < '3.9'
pyside6
pyopengl
