#List of dependencies used by pyFAI.
# PIP installs them from pre-compiled wheels, optimized for Travis-CI Python environment.
--find-links http://www.edna-site.org/pub/wheelhouse

wheel
numpy
cython
pillow
lxml
unittest2
h5py
fabio
scipy
matplotlib
mako
pyopencl==2015.1
numexpr
silx

# Require PyQt when wheel is available
PySide; python_version == '3.4'
PyQt5; python_version >= '3.5'
PyQt4; sys_platform == 'win32' and python_version == '2.7'  # From silx.org
PyQt4; sys_platform == 'darwin' and python_version == '2.7'  # From silx.org
