
#List of dependencies used by pyFAI.
# PIP installs them from pre-compiled wheels, optimized for Github-Actions Python environment.
--find-links http://www.edna-site.org/pub/wheelhouse
--trusted-host www.edna-site.org

wheel
numpy > 1.10
cython >=0.29.31
pillow
lxml
unittest2
h5py
fabio
scipy
matplotlib
mako
pybind11
siphash24
pyopencl
numexpr != 2.8.6
silx >= 2
psutil
ImageD11
importlib_resources; python_version < '3.9'
