numpy <1.19 ; python_version <= '3.5'
numpy; python_version>= '3.6'
h5py
fabio
sphinx
scipy
cython >=0.29.31
pygments[plugins]
sphinxcontrib-programoutput
silx
nbsphinx
sphinx-rtd-theme
docutils<0.20
ipython_genutils
