numpy >= 1.10
h5py
fabio
sphinx
scipy
cython >=0.29.31
pygments[plugins]
sphinxcontrib-programoutput
silx >= 2
nbsphinx
docutils<0.20
ipython_genutils
pydata-sphinx-theme
importlib_resources; python_version < '3.9'
